{% extends 'main-base.html' %}

{% block title %}Sharing - Exercise Tracker{% endblock %}

{% block page_title %}Sharing{% endblock %}

{% block content %}
<div class="main-content-boxes sharing h-100">
    {% if shared_data|length == 0 %}
    <div class="d-flex flex-column justify-content-center align-items-center gap-4" style="height: calc(100vh - 200px);">
        <i class="fa-solid fa-user-group" style="font-size: 6rem;"></i>
        <h5 class="text-secondary">Your friend list is empty</h5>
    </div>
    {% endif %}
    <div class="container py-5">
        <div class="grid-container">
            {% for user in shared_data %}
            <div class="card card-hover">
                <div class="dataset-title text-center">
                    <img
                        class="avatar mb-3"
                        width="100"
                        src="{{ url_for('static', filename=user.avatar_path) }}"
                        alt="No image"
                    />
                    <h4>{{ user.username }}</h4>
                    <p>{{ user.email }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
