.profile {
    padding: 0 30px;
}

.profile .joined-date {
    font-size: 14px;
    color: #9c9c9c;
}

.profile .common-container {
    min-width: 200px;
    border: 1px solid #cccccc;
}

.profile .avatar-wrapper .fa-pen-to-square {
    right: 0;
}

.container .profile-container {
    padding-top: 10px;
}

.container .profile-container label {
    padding-left: 30px;
}

#profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /*cursor: pointer;*/
    object-fit: cover;
    pointer-events: none;
}

#profile-img.edit-mode {
    cursor: pointer;
    pointer-events: all;
}

#profile-img.edit-mode:hover {
    opacity: 0.5;
}

#file-input {
    display: none;
}

.profile .col-md-6-left {
    padding-right: 30px;
}

.profile .col-md-6-right {
    padding-left: 30px;
}

.profile .table-bmi td {
    background-color: unset;
}

#bmi-result-container {
    border: unset;
}

.bmi-underweight {
  background: linear-gradient(to right, #ffe082, #ffffff);
}

.bmi-healthy {
  background: linear-gradient(to right, #81c784, #ffffff);
}

.bmi-overweight {
  background: linear-gradient(to right, #ffab91, #ffffff);
}

.bmi-obese {
  background: linear-gradient(to right, #ef5350, #ffffff);
}